html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html, body, div, span,
object, iframe, 
h1, h2, h3, h4, h5, h6, p,
img,
ol,
ul,
li,
details,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
summary
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.attribution {
  padding: 24px;
  font-size: 12px;
  text-align: center;
}

body {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  background-color: var(--lightPink);
  
}

summary {
  list-style-type: none;
  cursor: pointer;
  color: var(--darkPurple)
}



:root {
  --white: hsl(0, 0%, 100%);
  --lightPink: hsl(275, 100%, 97%);
  --grayishPurple: hsl(292, 16%, 49%);
  --darkPurple: hsl(292, 42%, 14%);
  --accent: #ad28eb;
}

.faq{
  background-image: url(/assets/images/background-mobile.png);
  background-position: top; 
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  max-height: 235px;
padding-top: 142px;
 
@media (min-width: 768px){
  background-image: url(/assets/images/background-desktop.png);
  padding-top: 167px;
  max-height: 320px;
}
} 

.faq-box{
margin: auto;
  background-color: var(--white);
  box-shadow: 0 32px 56px 0 rgba(80, 0, 118, 0.1);
  width: 325px;
  border-radius: 8px;
  padding: 24px;
  @media (min-width: 768px) {
      width: 600px;
      padding: 40px;
    }
}


.heading {
  font-weight: 700;
  font-size: 32px;
  color: var(--darkPurple);
  margin-bottom: 24px;
  

  @media (min-width: 768px) {
    font-size: 56px;
    margin-bottom: 32px;
    }
}

.heading::before {
  content: " ";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(/assets/images/icon-star.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 24px;

}

@media (min-width: 768px){
  .heading::before {
      content: " ";
      display: inline-block;
      width: 40px;
      height: 40px;
      background-image: url(/assets/images/icon-star.svg);
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 24px;
  
    }
}


.details-box:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 24px;
  }
}

.details-box:not(:last-child)::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--lightPink);

}

summary:hover,
summary:focus {
  color: var(--accent);
}

.summary-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.summary-box__text {
  font-size: 16px;
  font-weight: 700;

  @media (min-width:768px) {
    font-size: 18px;
  }

}

.hidden{
  display: none;
}

.details__text {
  line-height: 1.5;
  color: var(--grayishPurple);
  margin-bottom: 20px;

  @media (min-width:768px) {
    font-size: 16px;
    margin-bottom: 24px;
  }
}